body {
    padding: 0;
    margin: 0;
    background-image: url(assets/bgHome.png);
    background-repeat: no-repeat;
    background-size: 1366px;
    height: 2000px;
}

header {
    display: flex;
    background-color: #841313;
    height: 60px;
}

.logo {
    margin-left: 20px;
}

a {
    color: white;
    font-family: Arvo;
    text-decoration: none;
    font-size: 32px;
    padding: 10px;
}

nav {
    display: flex;
    width: 100%;
}

section {
    display: inline-block;
    flex: 1;
    flex-direction: row;
    width: 100%;
    margin-left: 56px;
}


.optionsRight {
    width: 40%;
    text-align: right;
    float: right;
}

.headerDetail {
    height: 5px;
    width: 100%;
}

.profileIcon {
    height: 45px;
    margin-top: 10px;
}

.cadastro, .login {
    position: relative;
    top:-15px;
}

.home, .forum, .game {
    position: relative;
    top: 10px;
}

span {
    color: white;
    font-size: 32px;
    position: relative;
    top: 11px;
}

.spanRight {
    position: relative;
    top: -12px;

}

.bg1Home {
    height: 565px;
    position: absolute;
    bottom: -1px;
    left: 800px;
    z-index: -2;
}

.bg2Home {
    position: absolute;
    width: 100%;
    bottom: -400px;
    z-index: -1;
}