body {
    padding: 0;
    margin: 0;
    background-image: url(assets/bgHome.png);
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    display: flex;
    background-color: #841313;
    height: 60px;
}

.logo {
    margin-left: 20px;
}

a {
    color: white;
    font-family: Arvo;
    text-decoration: none;
    font-size: 32px;
    padding: 10px;
}

nav {
    display: flex;
    width: 100%;
}

section {
    display: inline-block;
    flex: 1;
    flex-direction: row;
    width: 100%;
    margin-left: 56px;
}


.optionsRight {
    width: 40%;
    text-align: right;
    float: right;
}

.headerDetail {
    height: 5px;
    width: 100%;
}

.profileIcon {
    height: 50px;
    margin-top: 5px;
}

.cadastro, .login {
    position: relative;
    top:-15px;
}

.home, .forum, .game {
    position: relative;
    top: 10px;
}